/* #validation-input {
  border: 3px solid #bdbdbd;
}

#validation-input.valid {
  border-color: #4caf50;
}

#validation-input.invalid {
  border-color: #f44336;
} */
.form {
  width: 400px;
  display: flex;
  flex-direction: column;
}
.section-title {
  margin: 0 auto;
  text-align: center;
  text-transform: uppercase;
}
.dark-theme {
  background-color: white;
  color: black;
}
.light-theme {
  background-color: black;
  color: white;
}
.form {
  width: 500px;
  border: 2px solid red;
}
